.Root {
  display: grid;
    grid-template-columns: 200px auto;
  grid-gap: 5px;
  padding: 10px;
}

.Button {
  grid-column: 2;
  grid-row: 1;
  margin: auto;
}
.Button[disabled] {
  opacity: 0.5;
}

.Button .Icon {
  height: 32px;
}

.QuantityLeft {
  grid-column: 2;
  text-align: center;
}
